input{
    height: 50px;
    width:60px;
    color: rgb(255, 255, 255);
    background-color: black;

}
.del{
    height: 50px;
    width:125px;
}

.clear{
    background-color: rgb(44, 43, 43);
}
.calci{
    color: rgb(10, 74, 47);
   }
input:hover{
       background-color: rgb(50, 125, 92);
       color:white;
       border-color: white;
    }
.res{
    height: 50px;
    width: 255px;
    color:white;
    }



