
    input[type="button"]
    {
    background-color:black;
    color: rgb(255, 255, 255);
    /* border: solid rgb(208, 185, 185) 2px; */
    width:100%
    }
    


.inp{
    /* border: 1px solid black; */
    background-color:white;
    border-radius: 10px;
    height: 40px;
    width: 390px;
    margin-top: 30px;
}
    .key{
        width: 94px;
        height: 40px;
    }
    .keyc{
        width: 194px;
        height: 40px;
    }
    
   

   